@import "scss/_primary_variables.scss";
@import "scss/_variables.scss";
@import "scss/_typography.scss";

@media (min-width: $grid-breakpoint-xxl) {
	.container { max-width: $container-max-width-xxl; }
}

@media (min-width: $grid-breakpoint-xxxl) {
	.container { max-width: $container-max-width-xxxl; }
}
body {
	display: grid;
	grid-template-columns: 400px auto auto 350px;
  	grid-template-rows: 100px auto;
	grid-template-areas:
    "nav header header header"
    "nav main main sidebar"
    "nav footer footer footer";

    .btn-primary {
    	background-color: $color-alpha !important;
    	border-color: $color-alpha-dark !important;
    	&:focus, &:hover, &:active {
    		background-color: $color-alpha-dark !important;
    	}
    }
}

.o_main_header{
	grid-area: header;
	display: flex;
	height: 100px;
	align-items: center;

	> .row {
		width: 100%;
	}
}

.o_side_nav {
  	grid-area: nav;
  	width: 30%;
	max-width: 400px;
	height: 100vh;
	position: fixed;
	padding:20px 50px;
	background-color:$o-violet-darker ;
	> ul {
		padding-left: 0px;
	}
	ul {
		list-style: none;
		padding-top: 15px;

		li {
			padding: 15px 0;
			a{
				color: #ffffff;
				text-decoration: none;
				opacity: .5;
				&.current, &:hover {
					opacity: 1;
				}
			}
		}

		> .toctree-l1 {
			a:before {
				content:"";
				width: 30px;
				height: 30px;
				display: inline-block;
    			vertical-align: middle;
			}

		}

	}
}

.o_search{
	position: relative;
	.btn{
		position: absolute;
		top: 50%;
	    right: 8px;
	    transform: translateY(-50%);
	}
}

.sidebar {
	grid-area: sidebar;
}

main{
	grid-area: main;
}

footer{
	grid-area: footer;
}
