@import "scss/_variables";
@import "scss/bootstrap_overridden";
@import "scss/bootstrap_scss/bootstrap";
@import "scss/_mixins";
@import "scss/_typography";



div[aria-label="related navigation"] {
    display: none;
}

body {
    font-size: $font-size-base;
    a {
        text-decoration: none !important;
    }
}

header.o_main_header{
    display: flex;
    align-items: center;
    height: $w-header-height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $w-header-white;
    z-index: 10;
    padding-right: 3rem;
    .o_logo_wrapper {
        width: $w-side-nav-width;
        padding-left: 3rem;
        margin-right: 3rem;
        > .o_logo {
            height: $w-header-height;
            display: flex;
            align-items: center;
            img {
                margin-top: -12px;
                margin-right: 1rem;
            }
            span {
                font-size: 2rem;
            }
        }
    }
    .o_search{
        position: relative;
        width: 100%;
        max-width: 500px;
        .btn{
            @include o-position-absolute($top: 50%, $right: .5rem);
            @include transform (translateY(-50%)) ;
            &:before{
                @include inline-icon('img/icons/search.svg' , 20px, 0);
                opacity: .3;
            }
        }
    }
}

.o_side_nav {
    grid-area: nav;
    width: $w-side-nav-width;
    height: calc(100vh - #{$w-header-height});
    overflow-y: auto;
    position: fixed;
    top:$w-header-height;
    padding-top: 3rem;
    padding-left: 3rem;
    background-color: lighten($o-violet-dark, 70%) ;
    z-index: 10;

    > ul {
        padding-left: 30px !important;
         > li {
            padding: .5rem 0;
         }
    }

    ul {
        padding-left: 1rem;
        list-style: none;
        li {
            a{
                display: block;
                padding: .5rem 0;
                color: $o-violet-darker;
                text-decoration: none;
                opacity: .5;
                &.current, &:hover {
                    opacity: 1;
                }
            }
        }
        li.current > a {
            font-weight: $fw_bold;
            opacity: 1;
        }

        > .toctree-l1 {
            > a:before {
                @include inline-icon('img/icons/doc-apps.svg' , 30px, 0 1rem 0 0);
                margin-left: -30px;
            }

        }

    }
    // overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: $o-violet-darker transparent;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: $white;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $o-violet-darker ;
        border-radius: 0;
    }
}

#wrap {
    position: relative;
    top: $w-header-height;
    display: grid;
    grid-template-columns: $w-side-nav-width auto 25%;
    column-gap: 2rem;
    grid-template-areas:
    "nav main sidebar"
    "footer footer footer";

    main{
        padding-right: 3rem;
        &:not(.index){
        grid-area: main;
        }
        h1, h2{
            font-size: 24px;
            font-weight: $fw_semibold;
        }
        h1 {
            color: $secondary;
        }

        &.index, &.doc-toc {
            grid-column: main / sidebar;
        }
        &.index{
            h2[class*="o_title_"] {
                color: $o-violet-darker;
                font-weight: $fw_bold;
                &:before {
                    @include inline-icon('img/icons/full-control.svg' , 50px, 0 1rem 0 0);
                    display: block;
                    margin: 0 auto 20px;
                }
                &.o_title_start:before {
                    background-image: url('img/icons/full-control.svg');
                }
                &.o_title_install:before {
                    background-image: url('img/icons/install.svg');
                }
                &.o_title_basic:before {
                    background-image: url('img/icons/basic.svg');
                }
                &.o_title_tutorial:before {
                    background-image: url('img/icons/tutorials.svg');
                }
                &.o_title_advanced:before {
                    background-image: url('img/icons/tech-knowledge.svg');
                }


            }
            ul {
                list-style: none;
                > li {
                    padding-bottom: 1.5rem;
                    a {
                        display: block;
                        color: $gray-700;
                        font-weight: $fw_bold;
                        padding-bottom: .5rem;
                    }
                    p {
                        color: $gray-500;
                    }
                    &:hover a, :hover p {
                        color: $primary;
                    }
                }
            }
        }
        &.doc-toc {
            .toctree-wrapper {
                > ul {
                    display: flex;
                    flex-wrap: wrap;

                    > li.toctree-l1 {
                        width: 33.3%;
                        padding-bottom: 3rem;
                        padding-right: 3rem;
                    }
                }
                ul {
                    list-style: none;
                    padding-left:0;
                }
            }

            .toctree-l1 > a {
                display: block;
                color: $gray-darker;
                font-size: 1.2rem;
                padding-bottom: .5rem;
                border-bottom: 1px solid $gray-light;
                margin-bottom: 1rem;
            }
        }
        article {
            position: relative;

            .o_git_link {
            color: $gray-light;
            @include o-position-absolute($top: 0, $right: 1rem);

                &:before{
                    @include inline-icon('img/icons/edit.svg' , 18px, 0 .5rem 0 0);
                }
            }
            h1 {
                margin-bottom: 2rem;
            }

            h2{
                color: $gray-darker;
                padding-bottom: .5rem;
                border-bottom: 1px solid $gray-light;
                margin-bottom: 2rem;
                margin-top: 2rem;
                &::after{
                    @include inline-icon('img/icons/link.svg' , 24px, 0 0 0 1rem);
                }
            }
            h3 {
                font-size: 20px;
                font-weight: regular;
                color: $gray-darker;
            }

            p:last-child , ul:last-child {
                margin-bottom: 2rem;
            }

            .img-fluid {
                @include box-shadow(0 3px 6px rgba(0, 0, 0, .16));
                margin-bottom: 2rem;
            }

        }
        .alert {
            position: relative;
            max-width: 95%;
            display: inline-block;
            border-radius: 0;
            border-width: 0 0 0 3px;
            &.alert-exercise {
                border-color: tint-color($doc_exercise, 30%);
                background-color: tint-color($doc_exercise, 40%);
                color: shade-color($doc_exercise, 35%);

                > .alert-title, > h3 {
                  color: $doc_exercise;
                }
                > .alert-title:before, > h3:before {
                // .translate(0;0);
                    top: 28px;
                    content: "\e709";
                }
            }

            &.alert-go_to {
                border-color: tint-color($secondary, 60%);
                background-color: tint-color($secondary, 80%);
                border-width: 2px;
                margin: 2em auto;
                a{
                    color: $secondary;
                }
                > .alert-title, > h3 {
                    color: $brand-info
                }
                > .alert-title:before, > h3:before {
                    content: "\e70d";
                }
            }
        }
    }
    aside.o_on_page {
        grid-area: sidebar;
        padding: 0 3rem;
        font-size: .9rem;

        &.affix {
            z-index            : 2;
            position           : fixed;
            backface-visibility: hidden;

            // @media (max-width:$screen-md-min) {
            //     display: none;
            // }
        }
        h3 {
            text-transform: uppercase;
            font-weight: $fw_bold;
            font-size: 1rem;
            color: $gray-darker;
            + ul > li > a {
                display: none;
            }
        }
        ul {
            list-style: none;
            padding-left: 0;

            a {
                display: block;
                padding: .5rem 0;
                font-weight: $fw_regular;
                color: $gray-darker;
            }
        }
    }
}
.highlight {
  background: $gray-darker;
  color: $gray-light;
  border-radius: $border-radius;
  margin-bottom: ($line-height-base / 2);
  pre {
    margin-bottom:  0;
  }
}

footer{
    grid-area: footer;
    > div {
        padding: 3rem;
        padding-left: calc(#{$w-side-nav-width} + 3rem)
    }
    .o_get_help {
        background: $gray-100;
        h5 {
            color: $secondary;
            font-size: 20px;
            font-weight: $fw_bold;
            margin-bottom: 1.5rem;
            &::before {
                @include inline-icon('img/icons/help.svg' , 30px, 0 1rem 0 0);
            }
        }

    }
    .o_footer_nav {
        display: flex;
    }
}
