@font-face {
  font-family: Inter;
  src: url("fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype-variations");
  font-weight: 1 999; }

html body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inter, Helvetica, sans-serif;
  font-weight: 400; }

.display-1, h1, .h1 {
  letter-spacing: -0.02em; }

.display-2, h2, .h2 {
  letter-spacing: -0.01em; }

.display-3, h3, .h3 {
  letter-spacing: 0em; }

.display-4, h4, .h4 {
  letter-spacing: 0.01em; }

b, strong {
  font-weight: 800; }

a {
  font-weight: 600; }

.fw_extralight {
  font-weight: 200; }

.fw_light {
  font-weight: 300; }

.fw_extralight label, .fw_extralight b, .fw_extralight strong, .fw_extralight a, .fw_light label, .fw_light b, .fw_light strong, .fw_light a {
  font-weight: 400; }

.fw_regular {
  font-weight: 400; }

.fw_medium {
  font-weight: 500; }

.fw_semibold {
  font-weight: 600; }

.fw_bold {
  font-weight: 700; }

.fw_extrabold {
  font-weight: 800; }

.fw_black {
  font-weight: 900; }

.text-heading {
  color: o-color("o-cc1-headings"); }

@media (min-width: 1400px) {
  .container {
    max-width: 1380px; } }

@media (min-width: 1680px) {
  .container {
    max-width: 1560px; } }

body {
  display: grid;
  grid-template-columns: 400px auto auto 350px;
  grid-template-rows: 100px auto;
  grid-template-areas: "nav header header header" "nav main main sidebar" "nav footer footer footer"; }
  body .btn-primary {
    background-color: #00a09d !important;
    border-color: #18856f !important; }
    body .btn-primary:focus, body .btn-primary:hover, body .btn-primary:active {
      background-color: #18856f !important; }

.o_main_header {
  grid-area: header;
  display: flex;
  height: 100px;
  align-items: center; }
  .o_main_header > .row {
    width: 100%; }

.o_side_nav {
  grid-area: nav;
  width: 30%;
  max-width: 400px;
  height: 100vh;
  position: fixed;
  padding: 20px 50px;
  background-color: #62495b; }
  .o_side_nav > ul {
    padding-left: 0px; }
  .o_side_nav ul {
    list-style: none;
    padding-top: 15px; }
    .o_side_nav ul li {
      padding: 15px 0; }
      .o_side_nav ul li a {
        color: #ffffff;
        text-decoration: none;
        opacity: .5; }
        .o_side_nav ul li a.current, .o_side_nav ul li a:hover {
          opacity: 1; }
    .o_side_nav ul > .toctree-l1 a:before {
      content: "";
      width: 30px;
      height: 30px;
      display: inline-block;
      vertical-align: middle; }

.o_search {
  position: relative; }
  .o_search .btn {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%); }

.sidebar {
  grid-area: sidebar; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }
