{% extends "basic/layout.html" %}
{% set html5_doctype = True %}

{% block scripts %}
  {{ super() }}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
          crossorigin="anonymous"></script>
{% endblock %}

{% set classes = [] %}
{#}{% if pagename == master_doc %}
  {% set classes = classes + ['index'] %}
{% endif %}{#}

{% if 'code-column' in meta %}
  {% set classes = classes + ['has_code_col'] %}
{% endif %}

{% if 'classes' in meta %}
  {% set classes = classes + meta['classes'].split() %}
{% endif %}

{%- block linktags -%}
  {% for code, url in language_codes %}
    <link rel="alternate" hreflang="{{ code }}" href="{{ url }}" />
  {%- endfor %}
    <link rel="canonical" href="{{ canonical }}" />
  {{ super() }}
{%- endblock -%}

{#}
{%- block sidebar1 -%}{%- endblock -%}
{%- block sidebar2 -%}{%- endblock -%}
{%- block relbar1 -%}{%- endblock -%}
{%- block relbar2 -%}{%- endblock -%}
{#}

{# Google analytics key logic, to keep #}
{%- block footer -%}
  {%- if google_analytics_key -%}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ google_analytics_key }}', 'auto');
    ga('set', 'anonymizeIp', true);
    ga('send','pageview');
    </script>
  {%- endif -%}
{%- endblock -%}

{%- block header -%}
  {% include "jinja_templates/navigation.html" %}
  <header class="o_main_header container border-bottom {{ ' '.join(classes) }}">
    <div class="row justify-content-between">
        {% include "jinja_templates/searchbox.html" %}
        <div class="col-md-4">
          <div class="row">
            <div class="col">{% include "jinja_templates/language_switcher.html" %}</div>
            <div class="col">{% include "jinja_templates/version_switcher.html" %}</div>
            <button class="btn btn-primary">Try Odoo for FREE</button>
          </div>
        </div>
    </div>
  </header>
{%- endblock -%}

{%- block content -%}
    <main class="container pt-5 {{ ' '.join(classes) }}">
      {% if pagename == master_doc %}
      <div class="row">
        <div class="col-md-4">
          <h2>Getting Started</h2>
          <ul>
            <li><a href="">Overview of Odoo</a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
              <li><a href="">Requirements</a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
              <li><a href="">New to Odoo – Where to start </a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
              <li><a href="">Version 14</a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
              <li><a href="">History</a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h2>Installing Odoo</h2>
          <ul>
            <li><a href="">Overview of Odoo</a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
              <li><a href="">Requirements</a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
              <li><a href="">New to Odoo – Where to start </a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
              <li><a href="">Version 14</a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
              <li><a href="">History</a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h2>Basic Usage</h2>
          <ul>
            <li><a href="">Overview of Odoo</a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
              <li><a href="">Requirements</a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
              <li><a href="">New to Odoo – Where to start </a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
              <li><a href="">Version 14</a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
              <li><a href="">History</a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2>Getting Started</h2>
          <ul>
            <li><a href="">Overview of Odoo</a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
              <li><a href="">Requirements</a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
              <li><a href="">New to Odoo – Where to start </a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
              <li><a href="">Version 14</a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
              <li><a href="">History</a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h2>Installing Odoo</h2>
          <ul>
            <li><a href="">Overview of Odoo</a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
              <li><a href="">Requirements</a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
              <li><a href="">New to Odoo – Where to start </a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
              <li><a href="">Version 14</a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
              <li><a href="">History</a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h2>Basic Usage</h2>
          <ul>
            <li><a href="">Overview of Odoo</a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
              <li><a href="">Requirements</a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
              <li><a href="">New to Odoo – Where to start </a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
              <li><a href="">Version 14</a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
              <li><a href="">History</a>
              <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</span></li>
          </ul>
        </div>
      </div>
      {% else %}
        <div class="container o_content row">
          <!-- {% include "jinja_templates/sidebar.html" %} -->
          <article class="doc-body {% if 'has-toc' in meta %}doc-toc{% endif %}{% if pagename in toc%}index-category{% endif %}">
            {% block body %} {% endblock %}
          </article>
        </div>
      {% endif %}
        <div id="mask"></div>
      </main>

  <footer>
    {% include "jinja_templates/odoo_footer.html" %}
  </footer>
{%- endblock -%}
